body {
  background: lightskyblue;
}
h1 {
  font-family: Arial;
}
.info ul a {
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.info {
  box-shadow: 0px 0px 5px black;
  text-shadow: 0px 0px 5px gray;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blue;
}
.info {
  height: 200px;
  height: 900px;
  height: 450px;
  height: 300px;
  height: 225px;
  height: 180px;
}
